# SERIES
#No.1 Comparing series using pandas
we use the compare() method , greater than, less than , and equal-to operators 
after importing the neccesary libraries
the compare method prints the difference between the series that is the index
positions at which the elements did not match

In [4]:
import pandas as pd
series1=pd.Series([4,65,436,3,9])
series2=pd.Series([7,0,3,897,9])
print("Greater Than \n", series1>series2)
print("Less Than \n ", series1<series2)
print("Equal To \n ", series1==series2)
print("Difference \n ", series1.compare(series2))

Greater Than
 0    False
1     True
2     True
3    False
4    False
dtype: bool
Less Than
  0     True
1    False
2    False
3     True
4    False
dtype: bool
Equal To
  0    False
1    False
2    False
3    False
4     True
dtype: bool
Difference
      self  other
0    4.0    7.0
1   65.0    0.0
2  436.0    3.0
3    3.0  897.0

#No.2Program to add,subtract,divide and multiply
we use the arithmetic operators that is + - * /

In [6]:
serie1=pd.Series([2,4,6,8,14])
serie2=pd.Series([1,3,5,7,9])
print("Adding\n", serie1 + serie2)
print("Subtracting\n", serie1 - serie2)
print("Multiplying\n", serie1 * serie2)
print("Dividing\n", serie1 / serie2)

Adding
 0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtracting
 0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplying
 0      2
1     12
2     30
3     56
4    126
dtype: int64
Dividing
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

#No.3 Converting a dictionary to a series
we use the series() function and pass the dictionary as the arguement

In [9]:
dictionary={"Josh": 24, "Sam": 36, "Peace": 19, "Charles": 65, "Tom": 44}
result_series=pd.Series(dictionary)
result_series

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

#No.4 Converting a series to an array
we use the numpy library or we can use the .values method
lets first check the data type of the sample serie before converting it
and later check the data type after converting t

In [13]:
import numpy as np
sample_serie=pd.Series(["Love", 800, "Joy", 789.9, "Peace", True])
print(type(sample_serie))
arr=sample_serie.values
print(arr)
print(type(arr))
arr2=sample_serie.to_numpy()
print(arr2)
print(type(arr))

<class 'pandas.core.series.Series'>
['Love' 800 'Joy' 789.9 'Peace' True]
<class 'numpy.ndarray'>
['Love' 800 'Joy' 789.9 'Peace' True]
<class 'numpy.ndarray'>

#No.5  to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. (Use the ‘HomeTeamGoals’ column in the dataset

# DATAFRAMES
lets import all the required libraries

In [14]:
from matplotlib import pyplot as plt
import seaborn as sns

#No.1 reading the dataset 
we use the read function

In [17]:
df=pd.read_csv('AfricaCupofNationsMatches.csv')
df

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

#No.2 Reading the first 7 rows
we need to specify 7 as the parameter to the .head() method

In [18]:
print(df.head(7))

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

#N0.3 Selecting particular columns from the dataset
we can select them by their index or specify their names
lets specify their names

In [19]:
df2=df[["HomeTeam","AwayTeam","HomeTeamGoals","AwayTeamGoals"]]
print(df2)

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

#N04.select the rows where Egypt appears
we can select these rows basing on the columns that have 
Egypt has an away team or a home team

In [21]:
df3=df.loc[(df["HomeTeam"]=="Egypt") | (df["AwayTeam"]=="Egypt")]
print(df3)

    Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN      Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda            2.0            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria            6.0            3.0
14  1963  26-Nov-63   NaN      Egypt      Sudan            2.0            2.0
16  1963  30-Nov-63   NaN      Egypt   Ethiopia            3.0            0.0

                Stage    SpecialWinConditions                 Stadium  \
3    Final Tournament                     NaN   Prince Farouk Stadium
5    Final Tournament                     NaN   Prince Farouk Stadium
7          Semifinals                     NaN  Hailé Sélassié Stadium
9               Final   win after extra time   Hailé Sélassié Stadium
13            Group B                     NaN   Kumasi Sports Stadium
14            Group B                     NaN   Kumasi Sports Stadium
16  Third place match                     NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN

#No.5 count the number of rows and columns of your data frame 
we can use the shape method returns(no_of rows,no_of cols)
or the info method method

In [23]:
print(df.shape)

(622, 12)

In [24]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622 entries, 0 to 621
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  622 non-null    int64
 1   Date                  622 non-null    object
 2   Time                  333 non-null    object
 3   HomeTeam              622 non-null    object
 4   AwayTeam              622 non-null    object
 5   HomeTeamGoals         618 non-null    float64
 6   AwayTeamGoals         618 non-null    float64
 7   Stage                 622 non-null    object
 8   SpecialWinConditions  56 non-null     object
 9   Stadium               618 non-null    object
 10  City                  618 non-null    object
 11  Attendance            522 non-null    float64
dtypes: float64(3), int64(1), object(8)
memory usage: 58.4+ KB
None

#No.6 select the rows where the ‘Attendance’ is missing.

In [29]:
df4=df.loc[df["Attendance"].isnull()]
print(df4)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

#No.7 select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.
we can check the hometeamgoals in a list of values

In [36]:
df5=df.loc[df["HomeTeamGoals"].isin([3,4,5,6])]
print(df5)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

#No.8 change the “AwayTeamGoals” in the 3rd row to 10
we can use the at() method=df.at[index,column-name] ='new value'

In [38]:
df.at[3,'AwayTeamGoals']=10
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0            0.0                 Final
3              4.0           10.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

#No.9 sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.

In [40]:
print(df.sort_values(by=['HomeTeam','HomeTeamGoals'],ascending=[True,False]))

     Year                         Date           Time    HomeTeam  \
205  1990                      2-Mar-90            NaN   Algeria
29   1968                     14-Jan-68            NaN   Algeria
135  1980                     16-Mar-80            NaN   Algeria
164  1984                      5-Mar-84            NaN   Algeria
171  1984                     17-Mar-84            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals              Stage  \
205       Nigeria            5.0            1.0            Group A
29         Uganda            4.0            0.0            Group A
135        Guinea            3.0            2.0            Group B
164        Malawi            3.0            0.0            Group B
171         Egypt            3.0            1.0  Third place match
..            ...            ...            ...                ...
521   Ivory Coast            0.0            0.0              Final
549       Tunisia            2.0            4.0            Group B
398         Egypt            1.0            2.0            Group C
437       Senegal            0.0            2.0            Group D
575      DR Congo            0.0            4.0            Group A

              SpecialWinConditions                       Stadium  \
205                            NaN          Stade 5 Juillet 1962
29                             NaN        Hailé Sélassié Stadium
135                            NaN               Liberty Stadium
164                            NaN                  Stade Bouaké
171                            NaN  Stade Félix Houphouët-Boigny
..                             ...                           ...
521  Zambia  win on Penalities 8-7              Stade d'Angondjé
549                            NaN             Stade de l'Amitié
398                            NaN          Stade Taïeb El Mhiri
437                            NaN             Port Said Stadium
575                            NaN               30 June Stadium

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
..            ...         ...
521    Libreville     40000.0
549    Libreville         NaN
398          Sfax     22000.0
437     Port Said     15000.0
575         Cairo      4364.0

[622 rows x 12 columns]

#No.10 get list from DataFrame column headers

In [41]:
print(df.columns.values.tolist())

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

#No.11 to append a column of your choice to your DataFrame
lets use the insert method which takes 3 arguements,the index to insert the column,
the name of the column and the values

In [43]:
df.insert(3,"Wins",0)
print(df.columns.values.tolist())

['Year', 'Date ', 'Time ', 'Wins', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [ ]:
# No.12 to add 2 rows to your DataFrame

In [45]:
row={"Year":["2022","2023"],
      "Date":[" 10-Feb-57"," 10-Feb-57"],
     }
rows=pd.DataFrame(row)
df7=pd.concat([df,rows],ignore_index=True)
df7.reset_index()
print(df7)

     Year                      Date   Time   Wins   HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN   0.0     Sudan           Egypt
1    1957                  10-Feb-57    NaN   0.0  Ethiopia    South Africa
2    1957                  16-Feb-57    NaN   0.0     Egypt        Ethiopia
3    1959                  22-May-59    NaN   0.0      Egypt       Ethiopia
4    1959                  25-May-59    NaN   0.0     Sudan        Ethiopia
..    ...                        ...    ...   ...        ...            ...
619  2019  14 July 2019 (2019-07-14)  21:00   0.0   Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00   0.0   Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00   0.0   Senegal         Algeria
622  2022                        NaN    NaN   NaN        NaN            NaN
623  2023                        NaN    NaN   NaN        NaN            NaN

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0            0.0                 Final
3              4.0           10.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            NaN            NaN                   NaN
623            NaN            NaN                   NaN

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622                                                NaN
623                                                NaN

                         Stadium       City  Attendance        Date
0              Municipal Stadium   Khartoum     30000.0         NaN
1                            NaN        NaN         NaN         NaN
2              Municipal Stadium   Khartoum     30000.0         NaN
3          Prince Farouk Stadium      Cairo     30000.0         NaN
4          Prince Farouk Stadium      Cairo     20000.0         NaN
..                           ...        ...         ...         ...
619  Cairo International Stadium      Cairo     49775.0         NaN
620             Al Salam Stadium      Cairo      6340.0         NaN
621  Cairo International Stadium      Cairo     75000.0         NaN
622                          NaN        NaN         NaN   10-Feb-57
623                          NaN        NaN         NaN   10-Feb-57

[624 rows x 14 columns]

#No.13 to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column

In [55]:
df.loc[df['AwayTeam']=="Uganda","AwayTeam"]="China"
print(df)

     Year                      Date   Time   Wins     HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN     0       Sudan           Egypt
1    1957                  10-Feb-57    NaN     0    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN     0       Egypt        Ethiopia
3    1959                  22-May-59    NaN     0        Egypt       Ethiopia
4    1959                  25-May-59    NaN     0       Sudan        Ethiopia
..    ...                        ...    ...   ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00     0  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     0     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     0     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     0     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     0     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0            0.0                 Final
3              4.0           10.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 13 columns]

#No.14 to reset index in your DataFrame.

In [56]:
df.reset_index()

,index,Year,Date,Time,Wins,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,0,1957,10-Feb-57,NaN,0,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1,1957,10-Feb-57,NaN,0,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,2,1957,16-Feb-57,NaN,0,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,3,1959,22-May-59,NaN,0,Egypt,Ethiopia,4.0,10.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,4,1959,25-May-59,NaN,0,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,617,2019,11 July 2019 (2019-07-11),21:00,0,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,618,2019,14 July 2019 (2019-07-14),18:00,0,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,619,2019,14 July 2019 (2019-07-14),21:00,0,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,620,2019,17 July 2019 (2019-07-17),21:00,0,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,621,2019,19 July 2019 (2019-07-19),21:00,0,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

#N0.15  to check whether the ‘Stadium’ column is present in your DataFrame or not.

In [58]:
if "Stadium" in df.columns:
    print("Yes")
else:
    print("No")

Yes

#No 16 to convert the datatype of the ‘AwayTeamGoals’. (int to float)
here we can use the asatype() method or the numeric approach

In [60]:
df["AwayTeamGoals"]=df["AwayTeamGoals"].astype(float)
print(df.dtypes)

Year                      int64
Date                     object
Time                     object
Wins                      int64
HomeTeam                 object
AwayTeam                 object
HomeTeamGoals           float64
AwayTeamGoals           float64
Stage                    object
SpecialWinConditions     object
Stadium                  object
City                     object
Attendance              float64
dtype: object

#No.17 to remove the last 10 rows from your DataFrame.
Here we use the drop() method n we specify the parameter 
to return the last rows we use the tail() method with a specified number say 2 if we want the last 2 
So since we can access them then we can drop them
or we can slice the dataframe lets slice it

In [61]:
df8=df[:-10]
print(df8)

     Year                     Date   Time   Wins     HomeTeam       AwayTeam  \
0    1957                 10-Feb-57    NaN     0       Sudan           Egypt
1    1957                 10-Feb-57    NaN     0    Ethiopia    South Africa
2    1957                 16-Feb-57    NaN     0       Egypt        Ethiopia
3    1959                 22-May-59    NaN     0        Egypt       Ethiopia
4    1959                 25-May-59    NaN     0       Sudan        Ethiopia
..    ...                       ...    ...   ...          ...            ...
607  2019  5 July 2019 (2019-07-05)  21:00     0      Uganda         Senegal
608  2019  6 July 2019 (2019-07-06)  18:00     0     Nigeria        Cameroon
609  2019  6 July 2019 (2019-07-06)  21:00     0       Egypt    South Africa
610  2019  7 July 2019 (2019-07-07)  18:00     0  Madagascar        DR Congo
611  2019  7 July 2019 (2019-07-07)  21:00     0     Algeria          Guinea

     HomeTeamGoals  AwayTeamGoals             Stage  \
0              1.0            2.0        Semifinals
1              NaN            NaN        Semifinals
2              4.0            0.0             Final
3              4.0           10.0  Final Tournament
4              1.0            0.0  Final Tournament
..             ...            ...               ...
607            0.0            1.0       Round of 16
608            3.0            2.0       Round of 16
609            0.0            1.0       Round of 16
610            2.0            2.0       Round of 16
611            3.0            0.0       Round of 16

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
607                                                NaN
608                                                NaN
609                                                NaN
610                  Madagascar  win on Penalities 4-2
611                                                NaN

                         Stadium         City  Attendance
0              Municipal Stadium     Khartoum     30000.0
1                            NaN          NaN         NaN
2              Municipal Stadium     Khartoum     30000.0
3          Prince Farouk Stadium        Cairo     30000.0
4          Prince Farouk Stadium        Cairo     20000.0
..                           ...          ...         ...
607  Cairo International Stadium        Cairo      6950.0
608           Alexandria Stadium   Alexandria     10000.0
609  Cairo International Stadium        Cairo     75000.0
610           Alexandria Stadium   Alexandria      5890.0
611              30 June Stadium        Cairo      8205.0

[612 rows x 13 columns]

#No.18 to iterate over rows in your DataFrame.
lets use the iterrows() function

In [62]:
for index , row in df.iterrows():
    print (row["Year"], row["AwayTeam"])

1957  Egypt
1957  South Africa
1957  Ethiopia
1959  Ethiopia
1959  Ethiopia
1959  Sudan
1962  Tunisia
1962  Uganda
1962  Uganda
1962 Egypt
1963  Tunisia
1963  Ethiopia
1963  Tunisia
1963  Nigeria
1963  Sudan
1963  Nigeria
1963  Ethiopia
1963  Sudan
1965  Ethiopia
1965  Tunisia
1965  Ethiopia
1965  Congo-Léopoldville
1965  Congo-Léopoldville
1965  Ivory Coast
1965  Ivory Coast
1965  Tunisia
1968  Uganda
1968  Algeria
1968  Ivory Coast
1968  Uganda
1968  Uganda
1968  Algeria
1968  Senegal
1968  Congo-Brazzaville
1968  Congo-Brazzaville
1968  Congo-Kinshasa
1968  Senegal
1968  Congo-Brazzaville
1968  Congo-Kinshasa
1968  Ivory Coast
1968  Ethiopia
1968  Ghana
1970  Ivory Coast
1970  Ethiopia
1970  Ethiopia
1970  Sudan
1970  Ethiopia
1970  Cameroon
1970  Congo-Kinshasa
1970  Guinea
1970  Guinea
1970  Ghana
1970  Ghana
1970  Congo-Kinshasa
1970  Ghana
1970  Sudan
1970  Ivory Coast
1970  Ghana
1972  Kenya
1972  Togo
1972  Kenya
1972  Togo
1972  Kenya
1972  Mali
1972  Morocco
1972  Sudan
1972  Sudan
1972  Congo
1972  Zaire
1972  Sudan
1972  Congo
1972  Mali
1972  Zaire
1972  Mali
1974  Uganda
1974  Ivory Coast
1974  Zambia
1974  Uganda
1974  Ivory Coast
1974  Uganda
1974  Guinea
1974  Mauritius
1974  Mauritius
1974  Zaire
1974  Guinea
1974  Mauritius
1974  Zaire
1974  Zambia
1974  Egypt
1974  Zambia
1974  Zambia
1976  Uganda
1976  Guinea
1976  Uganda
1976  Guinea
1976  Uganda
1976  Egypt
1976  Zaire
1976  Sudan
1976  Sudan
1976  Zaire
1976  Nigeria
1976  Sudan
1976  Nigeria
1976  Egypt
1976  Nigeria
1976  Egypt
1976  Egypt
1976  Morocco
1978  Zambia
1978  Upper Volta
1978  Upper Volta
1978  Ghana
1978  Nigeria
1978  Upper Volta
1978  Tunisia
1978  Congo
1978  Uganda
1978  Congo
1978  Tunisia
1978  Morocco
1978  Tunisia
1978  Nigeria
1978  Tunisia
1978  Uganda
1980  Tanzania
1980  Ivory Coast
1980  Tanzania
1980  Ivory Coast
1980  Tanzania
1980  Egypt
1980  Algeria
1980  Guinea
1980  Morocco
1980  Guinea
1980  Guinea
1980  Ghana
1980  Morocco
1980  Egypt
1980  Egypt
1980  Algeria
1982  Ghana
1982  Tunisia
1982  Ghana
1982  Tunisia
1982  Tunisia
1982  Cameroon
1982  Ethiopia
1982  Zambia
1982  Ethiopia
1982  Nigeria
1982  Ethiopia
1982  Nigeria
1982  Algeria
1982  Zambia
1982  Algeria
1982  Libya
1984  Togo
1984  Cameroon
1984  Togo
1984  Egypt
1984  Togo
1984  Cameroon
1984  Nigeria
1984  Malawi
1984  Nigeria
1984  Ghana
1984  Nigeria
1984  Malawi
1984  Nigeria
1984  Cameroon
1984  Egypt
1984  Nigeria
1986  Egypt
1986  Mozambique
1986  Mozambique
1986  Ivory Coast
1986  Senegal
1986  Mozambique
1986  Morocco
1986  Zambia
1986  Zambia
1986  Morocco
1986  Zambia
1986  Algeria
1986  Ivory Coast
1986  Morocco
1986  Morocco
1986  Cameroon
1988  Zaire
1988  Algeria
1988  Zaire
1988  Algeria
1988  Zaire
1988  Ivory Coast
1988  Egypt
1988  Kenya
1988  Nigeria
1988  Kenya
1988  Kenya
1988  Egypt
1988  Algeria
1988  Cameroon
1988  Algeria
1988  Nigeria
1990  Nigeria
1990  Egypt
1990  Egypt
1990  Ivory Coast
1990  Ivory Coast
1990  Egypt
1990  Cameroon
1990  Kenya
1990  Kenya
1990  Cameroon
1990  Senegal
1990  Kenya
1990  Nigeria
1990  Senegal
1990  Senegal
1990  Nigeria
1992  Senegal
1992  Kenya
1992  Kenya
1992  Morocco
1992  Zaire
1992  Zaire
1992  Algeria
1992  Congo
1992  Congo
1992  Egypt
1992  Zambia
1992  Egypt
1992  Zaire
1992  Senegal
1992  Zambia
1992  Congo
1992  Nigeria
1992  Ivory Coast
1992  Cameroon
1992  Ghana
1994  Mali
1994  Zaire
1994  Zaire
1994  Gabon
1994  Gabon
1994  Egypt
1994  Sierra Leone
1994  Sierra Leone
1994  Ivory Coast
1994  Guinea
1994  Guinea
1994  Senegal
1994  Nigeria
1994  Mali
1994  Senegal
1994  Ivory Coast
1994  Ivory Coast
1994  Mali
1994  Mali
1994  Zambia
1996  Cameroon
1996  Angola
1996  Egypt
1996  Angola
1996  Egypt
1996  Cameroon
1996  Algeria
1996  Burkina Faso
1996  Sierra Leone
1996  Burkina Faso
1996  Burkina Faso
1996  Sierra Leone
1996  Liberia
1996  Zaire
1996  Liberia
1996  Ivory Coast
1996  Mozambique
1996  Tunisia
1996  Mozambique
1996  Ivory Coast
1996  Mozambique
1996  Algeria
1996  Egypt
1996  Tunisia
1996  Zaire
1996  Ghana
1996  Tunisia
1996  Zambia
1996  Tunisia
1998  Cameroon
1998  Guinea
1998  Guinea
1998  Algeria
1998  Guinea
1998  Algeria
1998  Togo
1998  Tunisia
1998  DR Congo
1998  Ghana
1998  Ghana
1998  Togo
1998  Angola
1998  Namibia
1998  South Africa
1998  Namibia
1998  Angola
1998  Namibia
1998  Zambia
1998  Mozambique
1998  Zambia
1998  Mozambique
1998  Mozambique
1998  Egypt
1998  DR Congo
1998  Burkina Faso
1998  Egypt
1998  South Africa
1998  South Africa
1998  Egypt
1998  Burkina Faso
1998  Egypt
2000  Cameroon
2000  Togo
2000  Togo
2000  Ivory Coast
2000  Ivory Coast
2000  Togo
2000  Gabon
2000  Algeria
2000  DR Congo
2000  Gabon
2000  Algeria
2000  Gabon
2000  Zambia
2000  Senegal
2000  Senegal
2000  Burkina Faso
2000  Burkina Faso
2000  Senegal
2000  Tunisia
2000  Congo
2000  Congo
2000  Morocco
2000  Morocco
2000  Congo
2000  Algeria
2000  Ghana
2000  Tunisia
2000  Senegal
2000  South Africa
2000  Tunisia
2000  Tunisia
2000  Cameroon
2002  Liberia
2002  Nigeria
2002  Nigeria
2002  Algeria
2002  Algeria
2002  Nigeria
2002  Burkina Faso
2002  Ghana
2002  Ghana
2002  Morocco
2002  Morocco
2002  Ghana
2002  DR Congo
2002  Ivory Coast
2002  Ivory Coast
2002  Togo
2002  Togo
2002  Ivory Coast
2002  Senegal
2002  Tunisia
2002  Tunisia
2002  Zambia
2002  Zambia
2002  Tunisia
2002  Mali
2002  Ghana
2002  Egypt
2002  DR Congo
2002  Senegal
2002  Cameroon
2002  Mali
2002  Cameroon
2004  Rwanda
2004  Guinea
2004  Guinea
2004  DR Congo
2004  Guinea
2004  DR Congo
2004  Mali
2004  Burkina Faso
2004  Kenya
2004  Mali
2004  Mali
2004  Kenya
2004  Egypt
2004  Algeria
2004  Zimbabwe
2004  Egypt
2004  Egypt
2004  Zimbabwe
2004  Morocco
2004  Benin
2004  South Africa
2004  Benin
2004  South Africa
2004  Benin
2004  Guinea
2004  Senegal
2004  Nigeria
2004  Algeria
2004  Nigeria
2004  Mali
2004  Mali
2004  Morocco
2006  Libya
2006  Ivory Coast
2006  Ivory Coast
2006  Morocco
2006  Ivory Coast
2006  Morocco
2006  Angola
2006  DR Congo
2006  DR Congo
2006  Togo
2006  Togo
2006  DR Congo
2006  Zambia
2006  Guinea
2006  Guinea
2006  South Africa
2006  Guinea
2006  South Africa
2006  Ghana
2006  Senegal
2006  Senegal
2006  Zimbabwe
2006  Senegal
2006  Zimbabwe
2006  Senegal
2006  DR Congo
2006  Tunisia
2006  Ivory Coast
2006  Senegal
2006  Ivory Coast
2006  Nigeria
2006  Ivory Coast
2008  Guinea
2008  Morocco
2008  Morocco
2008  Namibia
2008  Morocco
2008  Namibia
2008  Ivory Coast
2008  Benin
2008  Benin
2008  Mali
2008  Benin
2008  Mali
2008  Cameroon
2008  Zambia
2008  Zambia
2008  Sudan
2008  Sudan
2008  Zambia
2008  Senegal
2008  Angola
2008  Angola
2008  South Africa
2008  South Africa
2008  Angola
2008  Nigeria
2008  Guinea
2008  Angola
2008  Cameroon
2008  Cameroon
2008  Egypt
2008  Ivory Coast
2008  Egypt
2010  Mali
2010  Algeria
2010  Algeria
2010  Malawi
2010  Algeria
2010  Malawi
2010  Burkina Faso
2010  Togo
2010  Togo
2010  Ghana
2010  Ghana
2010  Togo
2010  Nigeria
2010  Benin
2010  Benin
2010  Mozambique
2010  Benin
2010  Mozambique
2010  Gabon
2010  Tunisia
2010  Tunisia
2010  Zambia
2010  Zambia
2010  Tunisia
2010  Ghana
2010  Algeria
2010  Cameroon
2010  Nigeria
2010  Nigeria
2010  Egypt
2010  Algeria
2010  Egypt
2012  Sudan
2012  Equatorial Guinea
2012  Mali
2012  Tunisia
2012  Ghana
2012  Ivory Coast
2012  Mali
2012  Ivory Coast
2013  Cape Verde
2013  Mali
2013  Nigeria
2013  Togo
2013  Nigeria
2013  Ghana
2013  Ghana
2013  Burkina Faso
2015  DR Congo
2015  Equatorial Guinea
2015  Guinea
2015  Algeria
2015  Ivory Coast
2015  Equatorial Guinea
2015  Equatorial Guinea
2015  Ghana
2017  Guinea-Bissau
2017  Cameroon
2017  Burkina Faso
2017  Guinea-Bissau
2017  Gabon
2017  Burkina Faso
2017  Zimbabwe
2017  Senegal
2017  Tunisia
2017  Zimbabwe
2017  Algeria
2017  Tunisia
2017  Togo
2017  Morocco
2017  DR Congo
2017  Togo
2017  Ivory Coast
2017  DR Congo
2017  Uganda
2017  Egypt
2017  Mali
2017  Uganda
2017  Ghana
2017  Mali
2017  Tunisia
2017  Cameroon
2017  Ghana
2017  Morocco
2017  Egypt
2017  Ghana
2017  Ghana
2017  Cameroon
2019  Zimbabwe
2019  Uganda
2019  Zimbabwe
2019  DR Congo
2019  Egypt
2019  DR Congo
2019  Burundi
2019  Madagascar
2019  Guinea
2019  Burundi
2019  Nigeria
2019  Guinea
2019  Tanzania
2019  Kenya
2019  Algeria
2019  Tanzania
2019  Senegal
2019  Algeria
2019  Namibia
2019  South Africa
2019  Ivory Coast
2019  Namibia
2019  Morocco
2019  Ivory Coast
2019  Angola
2019  Mauritania
2019  Mali
2019  Angola
2019  Tunisia
2019  Mali
2019  Guinea-Bissau
2019  Benin
2019  Ghana
2019  Guinea-Bissau
2019  Cameroon
2019  Ghana
2019  Benin
2019  Senegal
2019  Cameroon
2019  South Africa
2019  DR Congo
2019  Guinea
2019  Ivory Coast
2019  Tunisia
2019  Benin
2019  South Africa
2019  Algeria
2019  Tunisia
2019  Tunisia
2019  Nigeria
2019  Nigeria
2019  Algeria

#No.19 to change the order of your DataFrame columns.
since we can access our columns using the df.columns then we can re-order them using the reindex() function

In [73]:
df19=df.reindex(sorted(df.columns))
df19

,Year,Date,Time,Wins,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
Attendance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AwayTeam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AwayTeamGoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HomeTeam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HomeTeamGoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SpecialWinConditions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stadium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 #N0.20  to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.

In [74]:
df20=df.drop(df.index[df["HomeTeamGoals"]==0])
print(df20)

                      Year Date  Time   Wins HomeTeam AwayTeam  HomeTeamGoals  \
Attendance             NaN   NaN   NaN   NaN      NaN      NaN            NaN
AwayTeam               NaN   NaN   NaN   NaN      NaN      NaN            NaN
AwayTeamGoals          NaN   NaN   NaN   NaN      NaN      NaN            NaN
City                   NaN   NaN   NaN   NaN      NaN      NaN            NaN
Date                   NaN   NaN   NaN   NaN      NaN      NaN            NaN
HomeTeam               NaN   NaN   NaN   NaN      NaN      NaN            NaN
HomeTeamGoals          NaN   NaN   NaN   NaN      NaN      NaN            NaN
SpecialWinConditions   NaN   NaN   NaN   NaN      NaN      NaN            NaN
Stadium                NaN   NaN   NaN   NaN      NaN      NaN            NaN
Stage                  NaN   NaN   NaN   NaN      NaN      NaN            NaN
Time                   NaN   NaN   NaN   NaN      NaN      NaN            NaN
Wins                   NaN   NaN   NaN   NaN      NaN      NaN            NaN
Year                   NaN   NaN   NaN   NaN      NaN      NaN            NaN

                      AwayTeamGoals Stage SpecialWinConditions Stadium City  \
Attendance                      NaN   NaN                  NaN     NaN  NaN
AwayTeam                        NaN   NaN                  NaN     NaN  NaN
AwayTeamGoals                   NaN   NaN                  NaN     NaN  NaN
City                            NaN   NaN                  NaN     NaN  NaN
Date                            NaN   NaN                  NaN     NaN  NaN
HomeTeam                        NaN   NaN                  NaN     NaN  NaN
HomeTeamGoals                   NaN   NaN                  NaN     NaN  NaN
SpecialWinConditions            NaN   NaN                  NaN     NaN  NaN
Stadium                         NaN   NaN                  NaN     NaN  NaN
Stage                           NaN   NaN                  NaN     NaN  NaN
Time                            NaN   NaN                  NaN     NaN  NaN
Wins                            NaN   NaN                  NaN     NaN  NaN
Year                            NaN   NaN                  NaN     NaN  NaN

                      Attendance
Attendance                   NaN
AwayTeam                     NaN
AwayTeamGoals                NaN
City                         NaN
Date                         NaN
HomeTeam                     NaN
HomeTeamGoals                NaN
SpecialWinConditions         NaN
Stadium                      NaN
Stage                        NaN
Time                         NaN
Wins                         NaN
Year                         NaN